<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=emulateIE7" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" th:href="@{/common/css/sapar.css}" />
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <!--<link rel="stylesheet" th:href="@{/css/index_inner.css}" />-->

    <title></title>

<body>
<!--<div   th:fragment="menu_select_fragement(onevar,twovar)"  th:href="@{/login/goMenuIframe}">-->
    <div   th:fragment="menu_select_fragement"  >
    <!--<p th:text="${onevar} + ' - - - - - ' + ${twovar}"></p>-->
    <!--<form th:action="@{/login/loginIn}"  method="post" th:object="${user}" >-->
     xxxxxxxxxxxx
    <!--</form>-->

</div>

</body>
<script th:inline="javascript">
    /*<![CDATA[*/

    /*]]>*/
</script>
</html>